#Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized.

#Some of the popular languages that Data Scientists use are:

#ordered list
1. Pyhton
2. R
3. SQL

#Some of the commonly used libraries used by Data Scientists include:

#ordered list

1.Numpy

2.Pandas

3.TensorFlow

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Anaconda |

###Below are a few examples of evaluating arithmetic expressions in Python

1. Addition: `3 + 2`
2. Subtraction: `5 - 2`
3. Multiplication: `2 * 3`
4. Division: `6 / 2`

In [2]:
# This is a simple arithmetic expression to multiply then add integers.
result= (3*4)+5
result

17

In [5]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- Explain the importance of data visualization in analysis.
- Discuss the basics of machine learning algorithms.

##Author:

Esra Tokur Sonuvar